<div class="section" id="experience">
    <div class="container py-2 cc-experience" data-aos="fade-up">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Halliburton</div>
                                        <div class="h6 mt-0 title">Senior Web Developer (March 2019 - June 2021)</div>
                                        <p align="justify">Met with clients to gather requirements. Created intuitive UI’s tailored to the client’s specifications.</p>
                                        <p align="justify">Redesigned current software layouts & smoothed their transitions into a more modern look.</p>
                                        <p align="justify">Created wireframes, workflows & prototype mockups.</p>
                                        <p align="justify">Communicated with backend developers to see which technologies are viable and how the new mockup designs can integrate into their backend requirements and API’s.</p>
                                        <p align="justify">Created & maintained design frameworks & guidelines</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Adobe XD</li>
                                                        <li class="non_list">Adobe Photoshop</li>
                                                        <li class="non_list">Angular</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Node.js</li>
                                                        <li class="non_list">Typescript</li>
                                                        <li class="non_list">HTML</li>
                                                        <li class="non_list">CSS</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">VB Attorneys</div>
                                        <div class="h6 mt-0 title">Senior Web Developer (June 2017 - December 2018)</div>
                                        <p align="justify">Built custom Wordpress site vbattorneys.com </p>
                                        <p align="justify">Developed custom themes with Bootstrap library & managed Child themes as well</p>
                                        <p align="justify">Added custom functions increasing functionality to posts, blogs & admin dashboard.</p>
                                        <p align="justify">Developed custom plugins & optimized scripts to reduce page load times</p>
                                        <p align="justify">Standarized SEO via Moz & SEM Rush</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Adobe XD</li>
                                                        <li class="non_list">Adobe Photoshop & Illustrator</li>
                                                        <li class="non_list">Wordpress</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">JQuery</li>
                                                        <li class="non_list">PHP</li>
                                                        <li class="non_list">HTML</li>
                                                        <li class="non_list">CSS</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Business Integra</div>
                                        <div class="h6 mt-0 title">Senior Web Developer (August 2016 - May 2017)</div>
                                        <p align="justify">Built a custom 130 page Drupal website</p>
                                        <p align="justify">Meet with the client and gathered requirements. Created wireframes & interactive mockup.</p>
                                        <p align="justify">Used PHPStorm connected via AWS ssh keys to code & style.</p>
                                        <p align="justify">Used vagrant to create virtual testing boxes where the project is hosted and then pushed into the main “Origin” repository via GIT. Grunt was used to compile the SASS.</p>
                                        <p align="justify">Created custom views, used hooks & taxonomy. Fully mobile design.</p>  
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Adobe XD</li>
                                                        <li class="non_list">Adobe Photoshop & Illustrator</li>
                                                        <li class="non_list">Drupal</li>
                                                        <li class="non_list">Vagrant</li>
                                                        <li class="non_list">GIT</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">JQuery</li>
                                                        <li class="non_list">PHP</li>
                                                        <li class="non_list">HTML</li>
                                                        <li class="non_list">CSS & SASS</li>
                                                        <li class="non_list">Grunt</li>
                                                        <li class="non_list">PHPStorm</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        